<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>ToDo List Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'todo/bootstrap/bootstrap.min.css' %}">
</head>
<body>
<section class="vh-100" style="background-color: #eee;">
<div class="container py-5 h-100">
	<div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col-md-12 col-xl-10">
			<div class="card">
				<div class="card-header p-3">
					<h5 class="mb-0"><i class="fa-solid fa-list-check"></i>&nbsp;ToDo List</h5>
				</div>
				<div class="card-body overflow-auto" style="position: relative; height: 400px">
					<table class="table mb-0">
						<thead>
							<tr>
							<th>ToDo</th>
							<th>Description</th>
							<th>Update</th>
							<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr class="fw-normal">
							<th>
								<i class="fa-solid fa-star text-warning"></i>
								<span class="ms-2">농구하기</span>
							</th>
							<td class="align-middle">
								<span>3시에 기념관 앞에서 농구하기</span>
							</td>
							<td class="align-middle">
								<h5 class="mb-0"><a href="#" role="button" class="badge bg-secondary" style="text-decoration-line: none;">수정하기</a></h6>
							</td>
							<td class="align-middle">
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Done"><i class="fa-solid fa-check text-success me-3"></i></a>
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Remove"><i class="fa-solid fa-trash-can text-danger"></i></a>
							</td>
							</tr>
							<tr class="fw-normal">
							<th>
								<i class="fa-solid fa-star text-warning"></i>
								<span class="ms-2">강의실 빌리기</span>
							</th>
							<td class="align-middle">성결관 B101 강의실 빌리기</td>
							<td class="align-middle">
								<h5 class="mb-0"><a href="#" role="button" class="badge bg-secondary" style="text-decoration-line: none;">수정하기</a></h6>
							</td>
							<td class="align-middle">
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Done"><i class="fa-solid fa-check text-success me-3"></i></a>
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Remove"><i class="fa-solid fa-trash-can text-danger"></i></a>
							</td>
							</tr>
							<tr class="fw-normal">
							<th>
								<i class="fa-solid fa-star"></i>
								<span class="ms-2">Danny McChain</span>
							</th>
							<td class="align-middle">Office rent</td>
							<td class="align-middle">
								<h5 class="mb-0"><a href="#" role="button" class="badge bg-secondary" style="text-decoration-line: none;">수정하기</a></h6>
							</td>
							<td class="align-middle">
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Done"><i class="fa-solid fa-check text-success me-3"></i></a>
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Remove"><i class="fa-solid fa-trash-can text-danger"></i></a>
							</td>
							</tr>
							<tr class="fw-normal">
							<th>
								<i class="fa-solid fa-star"></i>
								<span class="ms-2">Alexa Chung</span>
							</th>
							<td class="align-middle">Office grocery shopping</td>
							<td class="align-middle">
								<h5 class="mb-0"><a href="#" role="button" class="badge bg-secondary" style="text-decoration-line: none;">수정하기</a></h6>
							</td>
							<td class="align-middle">
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Done"><i class="fa-solid fa-check text-success me-3"></i></a>
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Remove"><i class="fa-solid fa-trash-can text-danger"></i></a>
							</td>
							</tr>
							<tr class="fw-normal">
							<th class="">
								<i class="fa-solid fa-star text"></i>
								<span class="ms-2">Ben Smith</span>
							</th>
							<td class="align-middle">Ask for Lunch to Clients</td>
							<td class="align-middle">
								<h5 class="mb-0"><a href="#" role="button" class="badge bg-secondary" style="text-decoration-line: none;">수정하기</a></h6>
							</td>
							<td class="align-middle">
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Done"><i class="fa-solid fa-check text-success me-3"></i></a>
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Remove"><i class="fa-solid fa-trash-can text-danger"></i></a>
							</td>
							</tr>
							<tr class="fw-normal">
							<th class="border-0">
								<i class="fa-solid fa-star"></i>
								<span class="ms-2">Annie Hall</span>
							</th>
							<td class="border-0 align-middle">Create weekly tasks plan</td>
							<td class="border-0 align-middle">
								<h5 class="mb-0"><a href="#" role="button" class="badge bg-secondary" style="text-decoration-line: none;">수정하기</a></h6>
							</td>
							<td class="border-0 align-middle">
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Done"><i class="fa-solid fa-check text-success me-3"></i></a>
								<a href="#!" data-bs-toggle="tooltip" data-bs-title="Remove"><i class="fa-solid fa-trash-can text-danger"></i></a>
							</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer text-end p-3">
					<button class="btn btn-primary">Add Task</button>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<script src="https://kit.fontawesome.com/6347866849.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script>
	const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
	const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>